* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

i {
    display: inline-block;
    font-style: normal;
}

body {
    min-width: 1190px;
    font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
    font-size: 12px;
    color: #666;
    background: #f6f6f6;

    -webkit-font-smoothing: antialiased;
}

.iconfont {
    font-size: 12px;
    line-height: 0;
}

.wrapper {
    width: 1190px;
    margin: 0 auto;
}

#mycart .dropdown,
.sitenav .dropdown {
    display: none;
    border: 1px solid #ccc;
    background: #fff;
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
            box-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
}

/*z-index*/
.sity .mysity {
    z-index: 1;
}

.sity,
.sitenav .menu li {
    z-index: 10;
    list-style-type: none;
}

.sitenav .menu .item {
    z-index: 1;
}

.header .logo {
    z-index: 1;
}

#mycart,
#mycart .content {
    z-index: 1;
}
/*z-index end*/


/*sitenav*/
.sitenav {
    position: relative;
    line-height: 28px;
    background: #e1e2e4;
}

.sitenav .wrapper {
    height: 30px;
}

.sitenav-pipe {
    width: 1px;
    height: 10px;
    margin: 0 5px;
    background: #ccc;
}

.sitenav,
.sitenav a,
.sitenav i {
    color: #999;
}
/*sity */
.sity {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 200px;
}

.mysity {
    position: relative;
    width: 60px;
    height: 29px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #e1e2e4;
    border-bottom: 0;
}

.mysity .icon-zuobiao {
    font-size: 14px;
    color: #f10215;
}

.sity:hover .mysity {
    padding-bottom: 1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
}

.sity:hover .dropdown {
    display: block;
}

.sity .dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    width: 300px;
    height: 196px;
    padding: 10px;
}

.sity .dropdown li {
    float: left;
    width: 60px;
    padding: 2px 0;
    line-height: 24px;
}

.sity .dropdown a {
    padding: 4px 8px;
}

.sity .dropdown a:hover {
    background: #f4f4f4;
}

.selected a {
    color: #fff;
    background: #f10215;
}

.selected a:hover {
    background: #f10215;
}
/*city end*/


/*sitenav menu*/
.sitenav .menu {
    float: right;
    list-style: none;
    cursor: pointer;
}

.sitenav .menu li {
    position: relative;
    display: inline-block;
}

.sitenav .menu .item {
    position: relative;
    height: 29px;
    padding: 0 5px;
    border: 1px solid #e1e2e4;
    border-bottom: 0;
}

.sitenav .menu .iconfont {
    margin-left: -4px;
}

#signup a {
    color: #f10215;
}

/*myjd */
#myjd:hover .item {
    padding-bottom: 1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
}

#myjd:hover .dropdown {
    display: block;
}

#myjd .dropdown {
    position: absolute;
    top: 30px;
    display: none;
    width: 280px;
}

.myjd-list {
    padding: 10px 0 10px 15px;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    ;
}

.myjd-list li {
    width: 126px;
}
/*myjd end*/

/*serve*/
#serve:hover .item {
    padding-bottom: 1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
}

#serve:hover .dropdown {
    display: block;
}

#serve .dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    width: 170px;
    padding: 10px 0;
}

#serve .dropdown div {
    padding-left: 15px;
    font-weight: 800;
    line-height: 20px;
    color: #111;
}

#serve .list {
    padding-bottom: 10px;
    line-height: 26px;
}

#serve .list li {
    width: 65px;
    margin-top: -4px;
    padding-left: 15px;
}

#serve .title2 {
    padding-top: 10px;
    border-top: 1px dotted #ccc;
}
/*serve end*/

/*sitemap*/
#sitemap:hover .item {
    padding-bottom: 1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    background: #fff;
}

#sitemap:hover .dropdown {
    display: block;
}

#sitemap .dropdown {
    position: absolute;
    top: 30px;
    right: -79px;
    width: 1188px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#sitemap .dropdown dl {
    float: left;
    width: 255px;
    padding-left: 20px;
}

#sitemap .dropdown dl:not(:last-child) {
    border-right: 1px solid #ccc;
}

#sitemap .dropdown .list {
    width: 340px;
}

#sitemap .dropdown dt {
    font-weight: 800;
    color: #111;
}

#sitemap .dropdown ul {
    line-height: 24px;
}

#sitemap .dropdown li {
    width: 80px;
}
/*sitemap end*/
/*sitenav menu*/
/*sitenav end*/


/*header*/
.header {
    height: 140px;
}

.header .wrapper {
    position: relative;
    height: 140px;
}

.header .logo {
    position: absolute;
    top: -30px;
    width: 190px;
    height: 170px;
    background: #fff;
    background: url(../img/logo.v3.jpg);
    -webkit-box-shadow: 0 -10px 10px rgba(0, 0, 0, .2);
            box-shadow: 0 -10px 10px rgba(0, 0, 0, .2);
}
/*search*/
.search {
    position: absolute;
    top: 25px;
    left: 320px;
}

.searchbar {
    position: relative;
    width: 550px;
}

.searchbar input {
    width: 490px;
    height: 25px;
    padding: 4px;
    border: 1px solid #f10215;
    outline: none;
}

.searchbar .byphoto {
    position: absolute;
    top: 10px;
    right: 65px;
    width: 19px;
    height: 15px;
    background: url(../img/camera.png) no-repeat;
}

.searchbar .byphoto:hover {
    background: url(../img/camerar.png) no-repeat;
}

.searchbtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 35px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #f10215;
}

.searchbtn i {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
}
/*search end*/


/*my cart*/
#mycart {
    position: relative;
    position: absolute;
    top: 25px;
    right: 99px;
    float: right;
    width: 188px;
}

#mycart .content {
    position: relative;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
}

#mycart .content * {
    color: #f10215;
}

#mycart .amount {
    display: inline-block;
    min-width: 12px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    vertical-align: super;
    color: #fff;
    border: 1px solid #f10215;
    border-radius: 20px;
    background: #f10215;
}

#mycart:hover .content {
    padding-bottom: 2px;
    border-bottom: 0;
}

#mycart:hover .dropdown {
    display: block;
}

#mycart .dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    display: none;
    width: 308px;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #ccc;
    background: #fff;
}

#mycart .dropdown i {
    width: 57px;
    height: 49px;
    font-size: 40px;
    vertical-align: middle;
    background: url(../img/emptycart.png) no-repeat;
}
/*mycart end*/


/*sale inf key word*/
.saleinf {
    position: absolute;
    top: 65px;
    left: 320px;
    color: #999;
}

.saleinf .selected {
    color: #f10215;
}
/*saleinf  key word end*/


/*header nav */
#headernav {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 790px;
    height: 40px;
}

#headernav li {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 16px;
    line-height: 40px;
}

#headernav .pipe {
    width: 1px;
    height: 12px;
    margin-top: 15px;
    background: #ccc;
}
/*header nav end*/
/*header end*/

/*mainnav*/
.mainnav .wrapper {
    position: relative;
    height: 480px;
}

/*lnav*/
.mainnav .lnav {
    float: left;
    width: 190px;
    height: 100%;
    background: #666;
}

.mainnav .lnav ul {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mainnav .lnav li {
    height: 28px;
    padding-left: 12px;
    font-size: 0;
    line-height: 28px;
    user-select: none;
}

.mainnav .lnav span {
    padding: 0 4px;
    cursor: default;
}

.mainnav .lnav a,
.mainnav .lnav span {
    font-size: 14px;
    color: white;
}

.mainnav .lnav li:hover {
    background: #999;
}

.mainnav .lnav a:hover {
    color: #f10215;
}
/*lnav end*/

/*middle content*/
.mainnav .bannarbox {
    float: left;
    width: 790px;
    height: 100%;
    margin-left: 10px;
}

.mainnav .bannarbox .tbanner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 340px;
}

.mainnav .tbanner li {
    position: absolute;
    z-index: 0;
}

.tbanner .indexbox {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    padding: 4px 8px;
    font-size: 0;
    transform: translateX(-50%);
    border-radius: 12px;
    background: rgba(100%, 100%, 100%, .3);
}

.tbanner .indexbox .index {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0;
    border-radius: 6px;
    background: #fff;
}

.tbanner .indexbox div:not(:last-child) {
    margin-right: 10px;
}

.tbanner .indexbox .index:hover {
    background: #f10215;
}

.mainnav .bannarbox .under {
    width: 100%;
    height: 130px;
    margin-top: 10px;
}

.mainnav .bannarbox .lbanner,
.mainnav .bannarbox .rbanner {
    float: left;
    width: 390px;
    height: 100%;
    background: white;
}
/*middle content end*/

.mainnav .bannarbox .rbanner {
    margin-left: 10px;
}

.mainnav .rnav {
    float: right;
    width: 190px;
    height: 100%;
    background: white;
}

/*rnav*/
.userInf {
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}

.userInf .content {
    overflow: hidden;
    height: 45px;
    padding: 15px 15px;
    font-size: 12px;
}

.userInf .userFace {
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    border-radius: 50px;
    background: #ccc;
}
.userInf .userFace img {
    width: 40px;
    height: 40px;
}
.userInf .userSign {
    float: left;
    padding-left: 10px;
}

.userInf .userSign p {
    margin-bottom: 6px;
}

.userInf .userPrefit {
    padding-left: 15px;
}

.userInf .userPrefit a {
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-right: 10px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #f10215;
    border: 2px solid #f10215;
}

.userInf .userPrefit a:hover {
    color: #fff;
    background: #f10215;
}
/*userInf end*/

/*notice end*/
.notice {
    height: 154px;
    padding: 0 15px;
    cursor: pointer;
}

.notice .title {
    position: relative;
    padding: 8px 0 4px;
    line-height: 14px;
    border-bottom: 1px solid #e6e6e6;
}

.notice .title .pipe {
    position: absolute;
    bottom: 0;
    width: 28px;
    height: 2px;
    transition: transform .3s ease;
    background: #f10215;
}

.notice .title #onsalebtn {
    padding-right: 12px;
    border-right: 1px solid #dfe0e1;
}

.notice .title #announcebtn {
    padding-left: 12px;
}

.notice .title #more {
    float: right;
}

.notice .matter {
    padding: 12px 0;
    line-height: 24px;
}

.notice .matter #mannounce{
    display: none;
}

.notice .matter li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice li:hover {
    color: #f10215;
}
/*notice end */

.serviceTag {
    overflow: hidden;
}

.serviceTag ul {
    width: 192px;
    height: 210px;
    margin-left: -1px;
}

.serviceTag li {
    position: relative;
    float: left;
    width: 47px;
    height: 69px;
    text-align: center;
    border-top: 1px solid #dfe0e1;
    border-left: 1px solid #dfe0e1;
}

.serviceTag a {
    display: block;
    margin-top: 14px;
}
.serviceTag span {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #666;
}

.serviceTag li:hover span:not(.icornerdes) {
    color: #f10215;
}

.serviceTag i {
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background: url(../img/servicetag.png) no-repeat;
    background-size: 156px 148px;
}

.serviceTag .iphone {
    background-position: 0 -88px;
}

.serviceTag .ifly {
    background-position: 0 -44px;
}

.serviceTag .ihotel {
    background-position: -44px -88px;
}

.serviceTag .itrain {
    background-position: -88px -88px;
}
.serviceTag .icompany {
    background-position: -88px -44px;
}

.serviceTag .ioil {
    background-position: 0 0;
}

.serviceTag .imovie {
    background-position: -44px -44px;
}

.serviceTag .igame {
    background-position: -88px 0;
}

.serviceTag .ipeople {
    background-position: -132px 0;
}

.serviceTag .imoney {
    background-position: -132px -44px;
}

.serviceTag .igiftcard {
    background-position: -132px -88px;
}

.serviceTag .ichit {
    background-position: -44px 0;
}

.serviceTag .icorner {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    background: url(../img/corner.png) no-repeat;
    background-size: 12px 16px;
}

.serviceTag .icornerdes {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 12px;
    color: white;
}
/*mainnav end*/

/*secondkill*/
.secondkill {
    margin-top: 10px;
}

.secondkill .wrapper {
    height: 100px;
}

.secondkill .headbar {
    position: relative;
    height: 55px;
    padding-right: 20px;
    padding-left: 30px;
    color: white;
    background: url(../img/seckillbar.png) no-repeat;
    background-size: 100% 55px;
}

.secondkill .headbar i {
    background: url(../img/seckillbartag.png) no-repeat;
    background-size: 218px 188px;
}

.secondkill .headbar .ilcorner {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-position: -194px -52px;
}
.secondkill .lcontent > *{
    display: block;
    float: left;
}

.secondkill .lcontent .iclock {
    width: 34px;
    height: 40px;
    margin-top: 8px;
    margin-right: 8px;
    background-position: 0 -40px;
    /*vertical-align: top; */
}

.secondkill .lcontent .irarrow {
    width: 15px;
    height: 16px;
    margin-top: 25px;
    margin-left: 2px;
    background-position: -154px -40px;
}

.secondkill .lcontent span {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 45px;
}

.secondkill .headbar .jdseckill {
    margin: 0;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 400;
    line-height: 35px;
}

.secondkill .headbar .lcontent {
    float: left;
}
/*lcontent end*/

/*rcontent*/
.secondkill .headbar .rcontent {
    float: right;
    font-size: 14px;
}

.secondkill .rcontent > * {
    float: left;
}
.secondkill .rcontent > span {
    margin-top: 10px;
    line-height: 45px;
}

.secondkill .timer {
    width: 129px;
    padding-right: 8px;
    padding-left: 6px;
    font-size: 0;
}

.secondkill .timer span {
    display: inline-block;
    width: 35px;
    height: 37px;
    margin-top: 10px;
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    color: #f10215;
    border-radius: 3px;
    background: #440106;
}

.secondkill .timer .colon {
    display: inline-block;
    width: 4px;
    height: 12px;
    margin: 0 4px;
    margin-top: 22px;
    vertical-align: top;
}

.secondkill .timer .icolon {
    width: 4px;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    background: #440106;
}
/*timer end*/

/*goodslist*/
.secondkill .seckillb {
    height: 225px;
    padding: 12px 0 13px;
    background: white;
}

.secondkill .goodslist {
    position: relative;
    float: left;
    overflow: hidden;
    width: 999px;
}
.secondkill .goodslist ul {
    width: 6000px;
}
.secondkill .goods {
    float: left;
    width: 170px;
    height: 225px;
    padding: 0 14px 0 15px;
    color: #999;
    border-right: 1px solid #e7e7e7;
}

.secondkill .img {
    display: block;
    text-align: center;
}
.secondkill .goods img {
    width: 130px;
    height: 130px;
    margin: 17px 0;
    transition: .4s ease;
    background: green;
}
.secondkill .goods img:hover {
    transform: translateY(-5px);
}

.secondkill .describe {
    overflow: hidden;
    height: 32px;
    line-height: 16px;
}

.secondkill .current {
    margin-right: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #f10214;
}

.secondkill .original {
    font-size: 12px;
}
.secondkill .i{
    margin-right: 3px;
    font-family: arial;
    font-size: 12px;
}

/*slidebtn*/
.slidebtn {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 50px;
    line-height: 54px;
    transform: translateY(-50%);
    text-align: center;
    background: rgba(0,0,0,.1);
}

#slideleft {
    left: 7px;
}

#slideleft i {
    font-size: 20px;
    transform: rotate(90deg);
    opacity: .7;
    color: #272526;
}

#slideright {
    right: 7px;
}

#slideright i {
    font-size: 20px;
    transform: rotate(-90deg);
    opacity: .7;
    color: #272526;
}
/*slidebtn end*/

.secondkill .slideshow {
    position: relative;
    float: right;
    overflow: hidden;
    width: 180px;
    height: 100%;
    margin-right: 10px;
    background: yellow;
}

.secondkill .slideshow a {
    position: absolute;
}


.secondkill .slideshow .pointBox {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 5%;
    transform: translateX(-50%);
}
.secondkill .slideshow .pointBox i {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 5px;
    background: #342a2d;
}
